@tailwind base;
@tailwind components;
@tailwind utilities;

.searchInput::-webkit-search-cancel-button {
  position: relative;
  right: 20px;
  width: 100px;
  background-color: black;

  /* -webkit-appearance: none; */
  height: 20px;
  width: 20px;
}
body {
  width: 100%;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
} 

.DraftEditor-root {
  /* height: 480px !important; */
}

.border {
  border-width: 0 !important;
}